.weight_create_form{
    width: 800px;
    height: 828px;
    padding: 30px 20px;
}

.weight_create_header{
    font-size: 24px;
}

.form_group{
    width: 760px;
    margin-top: 30px;
}

.form_group-text{
    display: flex;
}

.form_group-text--label{
    margin-left: 5px;
}

.form__label--required {
    background-color: #F65A5A;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #FFFFFF;
    height: 18px;
}

.form_group-text_date,
.form_group-text_time, .form_group-text_weight,
.form_group-text_calories{
    height: 43px;
    padding: 11px 10px;
    border: solid 1px #E0DFDE;
    border-radius: 5px;
}

.form_group-text_date, .form_group-text_time{
    width: 760px;
}

.form_group-text_weight, .form_group-text_calories{
    width: 730px;
}

.form_group-text_content{
    width: 760px;
    height: 160px;
    padding: 11px 10px;
    border: solid 1px #E0DFDE;
    border-radius: 5px;
}

.form_button{
    text-align: center;
    margin-top: 20px;
}

.form_button-back,
.form_button-submit {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
}

.form_button-back {
    background-color: #E0DFDE;
    padding: 13px 10px;
    margin-right: 10px;
    font-size: 16px;
    box-shadow: 0px 4px #00000008;
}

.form_button-submit {
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #A3A6E1, #FFABD9);
}